# Environment
ENV=development

# Server Configuration
PORT=3000
MEMORY_USAGE_TIMEOUT=300000

# Database Configuration
MONGO_URI=mongodb://localhost:27017/paymentsvc

REDIS_HOST:host.docker.internal   
REDIS_PORT:6379
REDIS_PASSWORD: 
REDIS_DB: 0
REDIS_TLS: false

# JWT Configuration
JWT_SECRET_KEY=b4e6d0f9b9e14fbe8b64d2a9f7c3b2a0d8f1e6a7c9b0d4e3f7a6b5c8d1f2a3e4  
JWT_EXPIRES_IN=24h
